@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Raleway:wght@100&family=Roboto:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", Arial, sans-serif;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff1c3;
  color: #fff1c3;
}

@media (max-width: 768px) {
  .center_div {
    width: 55%;
  }
  button {
    min-height: 40px;
    width: 40px;
    color: #fff;
    font-size: 30px;
    margin-left: 5px;
  }
}